@import 'atlas-variables';

.design-library-breadcrumb {
	.breadcrumb-item {
		font-size: var(--font-size-lg);
	}
}

.design-library-fds-wrapper {
	.management-bar-wrapper,
	.data-set-content-wrapper:not(:has(.c-empty-state)) {
		background: var(--white);
	}

	.design-library-fds-sticker-books {
		background-color: $teal-l3;
		color: $teal;
	}
}
